.indexWrap {
  width: 100%;
  min-height: 80vh;
  padding: 100px 1rem;
  box-sizing: border-box;
  display: grid;
  place-content: center;
  gap: 4rem;
  place-items: center;
}

.indexWrap > * {
  grid-area: 1/1;
}
.indexTitles {
  display: flex;
  word-break: break-word;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  text-align: center;
}

.indexButWrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 400px;
  gap: 2.5rem 1rem;
  margin-top: 150px;
}

.indexTagline {
  display: flex;
  word-break: break-word;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  text-align: center;
  font-size: 1.5rem;
}

.indexHeaderTitle {
  font-size: clamp(3.125rem, 1.4358rem + 5.4054vi, 5.625rem);
  margin-top: -180px;
  text-align: center;
}
.indexSubTitle {
  font-size: clamp(1.25rem, 1.0326rem + 1.087vi, 1.875rem);
  line-height: normal;
  direction: rtl;
}

.hp_img {
  width: 370%;
  margin-top: -156px;
}

.hpm_img {
  display: none;
}

/****** Mobile *******/
@media (width < 600px) {
  .hp_img {
    display: none;
  }
  .hpm_img {
    display: block;
    width: 210%;
    margin-top: -90px;
  }

  .indexHeaderTitle {
    margin-top: -110px;
  }
  .indexButWrap {
    max-width: 200px;
    margin-top: 125px;
    font-size: 1rem;
  }
}
