.billingwrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.billingGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.infoGrid {
  display: flex;
  flex-direction: column;
}

.paymentSection {
  margin: 1rem 0 1rem;
}

.inputBox,
.labelsInputs {
  display: flex;
  flex-direction: column;
  padding: 0.3rem 0 0.3rem 0;
}
.infoBoxContent {
  margin: 0.6rem 0 1rem;
}
.inputField {
  border: 1px solid #5e7af5;
  border-radius: 0.3rem;
  padding: 0.2rem;
}

.smallerField {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

/*Text*/
.ticketType {
  text-decoration: underline;
  text-transform: uppercase;
}
.ticketNumber {
  font-size: 0.8rem;
}
.bookingSubtitle {
  font-family: var(--paragraph-font);
  font-size: large;
  font-weight: bold;
  text-transform: uppercase;
}
.hint {
  font-family: system-ui, sans-serif;
  font-size: 0.8em;
  color: grey;
}
.inputTel {
  max-width: 8.5ch;
}
.inputZip {
  max-width: 5ch;
}
.inputExp {
  max-width: 6ch;
}
.inputCvc {
  max-width: 4ch;
}
.inputCn {
  max-width: 18ch;
}

/***** select country ***/
.select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/*Input_validation*/
.inputField:valid {
  border: none;
  border: 1px solid green;
  border-radius: 0.3rem;
  padding: 0.2rem;
}

/* .inputField:invalid {
  border: none;
  outline: 2px solid red;
  border-radius: 5px;
} */
