/* Ticketsbox styling */
.ticketLine {
  display: flex;
  justify-content: space-between;
  line-height: 2.5rem;
}
.bookingSubtitle {
  font-family: var(--paragraph-font);
  font-size: large;
  font-weight: bold;
  text-transform: uppercase;
}
.miunsPlusButton {
  border: 1px solid #5e7af5;
  border-radius: 50%;
  width: 2em; /* eller en anden fast bredde */
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plusMinusCollected span {
  display: inline-block;
  width: 1em;
  text-align: center;
}

.plusMinusCollected {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.greenCamping {
  display: inline;
  margin: 2rem 0 1rem;
}
.checkBox {
  margin-top: 2rem;
  margin-right: 1.75rem;
}

.hint {
  font-family: system-ui, sans-serif;
  font-size: 0.8em;
  color: grey;
}
